@font-face {
	font-family: fontBoi;
	src: url(fonts/Geo-Regular.ttf);
}

@font-face {
	font-family: fontBoi2;
	src: url(fonts/Djentfont.ttf);
}

body {
	background-color: rgba(0, 0, 0);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: auto;
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.linkies {
	position: relative;
	height: 80vh;
	top: 20%;
}

.sub-linkies {
	position: fixed;
	width: 100%;
	height: 10%;
	display: flex;
	flex-wrap: wrap;
	left: 0%;
	justify-content: space-evenly;

}

  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
  }

.linkies a {
	background-color: rgba(0, 0, 0, .75);
	font-family: fontBoi;
	color: #a0ff00;
	border: solid 1px grey;
	border-radius: 16px;
	margin: 16px;
	width: 80%;
	padding: 16px;
	font-size: 32px;
	text-decoration: none;
	z-index: 1;
}

.myClass {
	z-index: -100;
	position: fixed;
	text-align: center;
}

.myClass img {
	width: 100vw;
	height: 100vh;
	object-fit: contain;
}

.main {
	text-align: center;
	position: absolute;
	/* border: 1px solid #a0ff00; */
	height: 100%;
	width: 100%;
}

#dj_set {
	display: none;
}

#music {
	display: inline;
}

button {
	color: #22ff00;
	background-color: rgba(0, 0, 0, 0);
	font-size: 32px;
	font-family: fontBoi;
	/* border: 1px solid #a0ff00; */
	width: 100%;
	height: 100%;
}

.button-container {
	position: fixed;
	bottom: 0%;
	left: 0%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	z-index: 100;
}

.button {
	display: block;
	width: 50%;
	height: 100%;
}

.content {
	/* position: relative; */
	position: absolute;
	border-radius: 16px;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
}