@font-face {
	font-family: fontBoi;
	src: url(fonts/Geo-Regular.ttf);
}

@font-face {
	font-family: fontBoi2;
	src: url(fonts/Djentfont.ttf);
}
iframe {
  border-radius: 16px;
  box-shadow: 0 0 5vw black;
  text-align: center;
	z-index: 100;
}

img {
  border-radius: 16px;
  text-align: center;
  padding: none;
}

body {
  text-align: center;
  display: inline;
  margin: auto;
  background-color: rgba(0, 0, 0);
  overflow-x: hidden;
}
.myClass {
  z-index: -100;
  position: fixed;
  text-align: center;
}

.myClass img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.main{
	position: relative;
	border: 1px solid #a0ff00;
  padding: 1rem;
  height: 100vh;
	width: 100vw;
}

#dj_set {
  display: none;
	height: 50%;
}

#music {
	height: 50%;
  display: none;
}

button {
  width: 16px;
  height: 32px;
  color: #22ff00;
	background-color: rgba(0, 0, 0, 0);
  font-size: 32px;
	border: none;
  font-family: fontBoi;
}

.button-container{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
  height: 10%;
  /* border: 1px solid #a0ff00; */
  display: flex;
  justify-content: space-around;
}

.button {
	padding: 16px;
	width: 70px;
	height: 70px;
}

.content {
  position: absolute;
  top: 20%;
	left: 10%;
  width: 80%;
	height: 100%;
}
