@font-face {
	font-family: fontBoi;
	src: url(fonts/Geo-Regular.ttf);
}

@font-face {
	font-family: fontBoi2;
	src: url(fonts/Djentfont.ttf);
}

body {
	background-color: rgba(0, 0, 0);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: auto;
	position: relative;
	width: 100vw;
	height: 100vh;
}
.myClass {
  z-index: -100;
  position: fixed;
  text-align: center;
}

.myClass img {
	width: 100vw;
	height: 100vh;
	object-fit: contain;
}

.main{
	position: relative;
	top: 0px;
	left: 0px;
	border: 4px solid #a0ff00;
	padding: none;
	margin: auto;
  height: 100vh;
	width: 100vw;
}

#dj_set {
  display: none;
}

#music {
  display: none;
}

button {
  width: 16px;
  height: 32px;
  color: #22ff00;
	background-color: rgba(0, 0, 0, 0);
  font-size: 32px;
	border: none;
  font-family: fontBoi;
}

.button-container{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
}

.button {
	position: relative;
	text-align: center;
	padding: 16px;
	width: 30%;
	height: 30%;
}

.content {
  position: absolute;
	border-radius: 16px;
  top: 5%;
	left: 10%;
  width: 80%;
	height: 80%;
}
